{% extends "base.html" %}
{% block content %}
{% include "main/header.html" %}
    <div class="middle_container">
        <h1>Administrator Home Page</h1>
        <div class="grid_container">
            <div class="grid_item"><a href="/">Create Course</a></div>
            <div class="grid_item"><a href="delete_account.html">Delete Account</a></div>
            <div class="grid_item"><a href="/">View Information</a></div>
            <div class="grid_item"><a href="create_account.html">Create Account</a></div>
            <div class="grid_item"><a href="/">Edit Account</a></div>
            <div class="grid_item"><a href="/">Send Notifications</a></div>
        </div>
    </div>
{% include "main/footer.html" %}
{% endblock content %}