{% extends "base.html" %}
{% block content %}
{% include "main/header.html" %}
    <div class="middle_container">
        <h1>Instructor Home Page</h1>
        <div class="grid_container">
            <div class="grid_item"><a href="edit_own_account.html">Edit My Account</a></div>
            <div class="grid_item"><a href="view_ta_assignments.html">View TA Assignments</a></div>
            <div class="grid_item"><a href="assign_ta_course.html">Assign My TAs</a></div>
            <div class="grid_item"><a href="view_course_assignments.html">View Course Assignments</a></div>
            <div class="grid_item"><a href="/">View Contact Information</a></div>
            <div class="grid_item"><a href="create_lab.html">Create Lab</a></div>
        </div>
    </div>
{% include "main/footer.html" %}
{% endblock content %}