{% extends "base.html" %}
{% block content %}
{% include "main/header.html" %}
    <div class="middle_container">
        <h1>Supervisor Home Page</h1>
        <div class="grid_container">
            <div class="grid_item"><a href="create_course.html">Create Course</a></div>
            <div class="grid_item"><a href="delete_course.html">Delete Course</a></div>
            <div class="grid_item"><a href="/">Edit Account</a></div>
            <div class="grid_item"><a href="assign_ta_course.html">Assign TA to Course</a></div>
            <div class="grid_item"><a href="create_account.html">Create Account</a></div>
            <div class="grid_item"><a href="/">View Information</a></div>
            <div class="grid_item"><a href="delete_account.html">Delete Account</a></div>
            <div class="grid_item"><a href="assign_instructor_course.html">Assign Instructor</a></div>

        </div>
    </div>
{% include "main/footer.html" %}
{% endblock content %}