{% extends "base.html" %}
{% block content %}
{% include "main/header.html" %}
<h1 style="text-align: center; margin-top: 2em;">View</h1>
    <div>
  <form method="post" action="/">
  {% csrf_token %}
  <label for="command_input" style="margin-right: 1em;">Command:</label><input id="command_input" type="text" name="command"/><input type="submit" style="margin-left: 1em;"/>
  </form>
  <div id="out" style="margin: 2em 10em;">{{out|linebreaks}}</div>
</div>
{% include "main/footer.html" %}
{% endblock content %}